################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Dynamix chart width control/.vs/Dynamix chart width control/v16
/*/x86/
/*/x64/
/*/Debug/
